<mat-toolbar>
  <span>{{ title }}</span>
</mat-toolbar>
<section class="main-section">
  <mat-card>
    <mat-card-content class="flex">
      <section>
        <h3 class="example-h3">Timepicker with Form Control</h3>
        <mat-form-field class="example-full-width">
          <mat-label>Time</mat-label>
          <input matInput [rkTimepicker]="picker" #timeInput="rkTimepickerInput"  [formControl]="time" placeholder="Ex. 3:00 PM" />
          <rk-timepicker-toggle matSuffix [for]="picker"></rk-timepicker-toggle>
          <rk-timepicker #picker (opened)="onOpen($event)" (closed)="onClose($event)"></rk-timepicker>
          @if (time.hasError('invalidTimeFormat') && !time.hasError('required')) {
            <mat-error>You must enter a valid time.</mat-error>
          }
          @if (time.hasError('required')) {
            <mat-error>You must enter a value.</mat-error>
          }
        </mat-form-field>
        <div class="data-container">
          <p> Value: {{ time.value }} </p>
          <p> Valid: {{ time.valid }} </p>
          <p> Dirty: {{ time.dirty }} </p>
          <p> Touched: {{ time.touched }} </p>
          <p> Invalid: {{ time.invalid }} </p>
          <p> Errors: {{ time.errors | json }} </p>
        </div>
      </section>
    </mat-card-content>
  </mat-card>
  <mat-card [ngClass]="{ 'max-card2': orientation() === 'landscape', 'max-card': orientation() === 'portrait' }">
    <mat-card-content class="double-section">
      <section>
        <h3 class="example-h3">Inline Timepocker</h3>
        <rk-clock
          #clock
          [time]="timeInput.value()"
          (timeChange)="timepickerValue.set($event)"
          [(orientation)]="orientation"
          [headline]="headline()"
          [(editable)]="editable"
          [(period)]="period"
          [(selected)]="selected"
          [(format)]="format"
        ></rk-clock>
      </section>
      <section>
        <h3 class="example-h3">Timepicker configuration</h3>
        <section class="example-section">
          <label class="example-margin">Theme:</label>
          <mat-radio-group [(ngModel)]="theme">
            <mat-radio-button class="example-margin" value="light-mode">
              Light
            </mat-radio-button>
            <mat-radio-button class="example-margin" value="dark-mode">
              Dark
            </mat-radio-button>
          </mat-radio-group>
        </section>
        <section class="example-section">
          <label class="example-margin">Mode:</label>
          <mat-radio-group [(ngModel)]="orientation">
            <mat-radio-button class="example-margin" value="portrait">
              Portrait
            </mat-radio-button>
            <mat-radio-button class="example-margin" value="landscape">
              Landscape
            </mat-radio-button>
          </mat-radio-group>
        </section>
        <section class="example-section">
          <label class="example-margin">Editable Input:</label>
          <mat-radio-group [(ngModel)]="editable">
            <mat-radio-button class="example-margin" [value]="true">
              True
            </mat-radio-button>
            <mat-radio-button class="example-margin" [value]="false">
              False
            </mat-radio-button>
          </mat-radio-group>
        </section>
        <section class="example-section">
          <label class="example-margin">Selected:</label>
          <mat-radio-group [(ngModel)]="selected">
            <mat-radio-button class="example-margin" value="hours">
              Hours
            </mat-radio-button>
            <mat-radio-button class="example-margin" value="minutes">
              Minutes
            </mat-radio-button>
          </mat-radio-group>
        </section>
        <section class="example-section">
          <label class="example-margin">Format:</label>
          <mat-radio-group [(ngModel)]="format">
            <mat-radio-button class="example-margin" value="12h">
              12h
            </mat-radio-button>
            <mat-radio-button class="example-margin" value="24h">
              24h
            </mat-radio-button>
          </mat-radio-group>
        </section>
        <section class="example-section">
          <label class="example-margin">AM | PM:</label>
          <mat-radio-group [(ngModel)]="period" [disabled]="format() === '24h'">
            <mat-radio-button class="example-margin" [value]="'AM'">
              AM
            </mat-radio-button>
            <mat-radio-button class="example-margin" [value]="'PM'">
              PM
            </mat-radio-button>
          </mat-radio-group>
        </section>
        <section class="example-section">
          <label class="example-margin">Set time by Date:</label>
          <button class="btn" mat-raised-button (click)="clock.value.set(setTime1())">
            13:00 | 01:00 PM
          </button>
          <button class="btn" mat-raised-button (click)="clock.value.set(setTime2())">Now</button>
        </section>
        <section class="example-section">
          <label class="example-margin">Output data:</label>
          {{ timepickerValue() }}
        </section>
      </section>
    </mat-card-content>
  </mat-card>
</section>
